@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #222;
    color: white;
    font-family: "Press Start 2P", system-ui;


}
/* /////////////////////Header///////////////////////// */
header {
    border-bottom: solid 5px;
    position: relative;
    height: 170px;
    padding-top: 40px;
}
header button {
   font-family: "Press Start 2P", system-ui;
   position: absolute;
   font-size: 17px;
   padding: 10px 4px;
   border: transparent;
   cursor: pointer;
   left: 5px;
   top: 6px;
}
header h3 {
position: absolute;
font-size: 2rem;
left: 400px;
top: 70px;


}
.head {
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 17px;

}
.logo {
    width:7%;
    font-size: 3rem;
    text-align: center;
    padding: 12px;
    background-color: white;
    color: #222;
    position: absolute;
    left: 45%;
    top: 60%;
}

/* //////////////////////MAIN///////////// */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.left-side {
    width: 40%;
    text-align: center;
}

.right-side {
    width: 40%;
}
.left-side input {
    width:50% ;
    padding: 10px ;
    background-color: #222;
    border: solid white;
    display: block;
    margin: 15px auto;
    color: white;
    text-align: center;
    font-size: 4rem;
}
.left-side button {
   font-family: "Press Start 2P", system-ui;
   font-size: 17px;
   padding: 10px 4px;
   border: transparent;
   cursor: pointer;
}
.right-side h5 {
    font-size: 20px;
}


